#wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#menu_left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#menu_center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#menu_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}